@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,400i,600,600i|EB+Garamond:400,400i,500');

:root {
  --color-ivory: rgb(244, 244, 239);
  --color-sand: rgb(236, 232, 222);
  --color-black: rgb(33, 33, 33);
  --color-white: rgba(255, 255, 255);
  --color-wine: rgb(118, 54, 121);
  --color-mustard: rgb(245, 190, 88);
  --color-grey: rgb(249, 249, 249);
  --color-darkGrey: rgb(239, 239, 239);
  --color-green: rgb(107, 191, 89);
  --color-red: rgb(244, 67, 54);
  --font-serif: 'EB Garamond', 'serif';
  --font-sans: 'Heebo', 'sans-serif';
  --global-radius: 2px;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
}

html,
body,
.main {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

body.locked {
  overflow-y: hidden;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset, 0 0 8px rgba(64, 197, 220, 0.8);
}

input:-webkit-autofill:not(:focus) {
  border-color: #fff !important;
}
